.loader {
  display: inline-flex;
  @apply my-3;
  gap: 0.3em;
}
.loader::after,
.loader::before,
.loader > div {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  backdrop-filter: invert(1);
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  100%,
  0% {
    opacity: 1;
  }
  66%,
  33% {
    opacity: 0.2;
  }
}

.loader::after {
  animation-delay: 0.6s;
}
.loader > div {
  animation-delay: 0.3s;
}
