@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/geomatrix");
@import url("https://fonts.cdnfonts.com/css/ep-stellari");

/* arabic */
@font-face {
  font-family: "Alexandria";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Alexandria-400-arabic1.woff2") format("woff2");
}
.SF-font {
  font-family: "SF Pro Display";
}

.Alexandria-font {
  font-family: "Alexandria", sans-serif;
}

.Geomatrix {
  font-family: "Geomatrix", sans-serif;
}

.ep-stellari {
  font-family: "EP Stellari", sans-serif;
}
