html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg.png");
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  outline: none !important;
  direction: rtl;
}
pre {
  direction: ltr !important;
}

svg {
  display: inline-block;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
