:root {
  --background: #ffffff;
  --foreground: #030013;
  --color-blue: rgb(7, 7, 79);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030013;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
